<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061772566682-c3unfukmdpvktbib0sd9g5vlqt4fm5o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061772566682-c3unfukmdpvktbib0sd9g5vlqt4fm5o7</string>
	<key>API_KEY</key>
	<string>AIzaSyDmTtysy4H2yFP-0tuErfCU4Ds6RRg3xms</string>
	<key>GCM_SENDER_ID</key>
	<string>1061772566682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CanDuru.Ulasimda-Rahatlik</string>
	<key>PROJECT_ID</key>
	<string>traintemperature</string>
	<key>STORAGE_BUCKET</key>
	<string>traintemperature.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061772566682:ios:1df23237c919afd6d1bf23</string>
	<key>DATABASE_URL</key>
	<string>https://traintemperature-default-rtdb.firebaseio.com</string>
</dict>
</plist>